h1 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    color: plum;
    font-size: 45px;
}

img {
    margin-bottom: 2em;
}

.menu {
    color: plum;
}

mat-menu button {
    color: plum; 
}