<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar   color="primary">
  <div class="menu">
      <button [matMenuTriggerFor]="menu" mat-icon-button color="accent">
        <mat-icon >menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/list" mat-menu-item>Chirps List</button>
        <button routerLink="/form" mat-menu-item>Send a Chrip</button>
        <button routerLink="/log" mat-menu-item>Sign Up or Log In</button>
      </mat-menu>
  </div>
  <h1 style="margin: 0 auto">
    Welcome to {{title}}!
  </h1>
  <div class="login">
    <mat-icon >send</mat-icon>
  </div>
</mat-toolbar>
<div class="main" style="text-align:center">
  
  <!-- <img width="300" src="assets/chirper-bird-2.png"> -->

  <router-outlet></router-outlet>
</div>



