<!--The content below is only a placeholder and can be replaced.-->
<div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button routerLink="/list" mat-menu-item>Chirps List</button>
      <button routerLink="/form" mat-menu-item>Send a Chrip</button>
    </mat-menu>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="assets/chirper-bird-2.png">

  <router-outlet></router-outlet>
</div>



