mat-toolbar {
    margin: 0 auto;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

mat-toolbar h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    color: white;
}

img {
    margin-bottom: 2em;
}

.main {
    padding-top: 45px;
}

.menu {
    color: plum;
    
}

