<a *ngFor="let chirp of chirps" [routerLink]="['/single', chirp.id]" >
  <mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>{{chirp.user}}</mat-card-title>
    <mat-card-subtitle>{{chirp.username}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-lg-image src="{{chirp.img}}">
 
  <p>{{chirp.message}}</p>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card></a>
<a class="button"routerLink="/form" routerlinkActive="active">Send a Chirp!</a>