mat-card {
    align-content: center;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 25px;
    border: 2px solid rgb(192, 30, 92);
}

mat-card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

a {
    text-decoration: none;
}
/* img {
    border-radius: 50%;
} */

