.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-horizontal-stepper {
    width: 700px;
    margin: 0 auto;
   
    margin-bottom: 1em;
    border-radius: 25px;
    border: 2px solid rgb(192, 30, 92);
  
}
mat-horizontal-stepper:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}