.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-horizontal-stepper {
    width: 700px;
    margin: 0 auto;
    background-color: #775877;
    margin-bottom: 1em;
    border-radius: 25px;
}