<!-- <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and user name
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input #User matInput type="text" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input #Username matInput type="text"  placeholder="Username">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="accent" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Password
      </mat-panel-title>
      <mat-panel-description>
        Type your password and confirm password
        <mat-icon>lock_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input #Password type="password" matInput placeholder="Password">
    </mat-form-field>

    <mat-form-field>
      <input #PasswordConfirm type="password" matInput placeholder="Confirm Password">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="accent" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Choose a profile picture
      </mat-panel-title>
      <mat-panel-description>
        Upload img url
        <mat-icon>portrait</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input #Img matInput placeholder="Url here">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="accent" (click)="nextStep()">Subbmit</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion> -->
<h1>Sign Up</h1>
 
<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Name</ng-template>
      <mat-form-field>
        <input #User matInput type="text" placeholder="Name">
      </mat-form-field>
  
      <mat-form-field>
        <input #Username matInput type="text"  placeholder="Username">
      </mat-form-field>
      <div>
        <button  mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Password</ng-template>
      <mat-form-field>
        <input #Password type="password" matInput placeholder="Password">
      </mat-form-field>
  
      <mat-form-field>
        <input #PasswordConfirm type="password" matInput placeholder="Confirm Password">
      </mat-form-field>
      <div>
        <button color="accent" mat-button matStepperPrevious>Back</button>
        <button  mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Profile image</ng-template>
      <mat-form-field>
        <input #Img matInput placeholder="Img url">
      </mat-form-field>

      <div>
        <button color="accent" mat-button matStepperPrevious>Back</button>
        <button  mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button  mat-button matStepperPrevious>Subbmit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<a class="button"routerLink="/actual" routerlinkActive="active">Already a member? Log in!</a>