/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.button {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
  background-color: #775877;
  border-radius: 4px;
}

.button:visited, a:link {
  color: rgb(0, 0, 0);
}
.button:hover {
  color: #e503a1;
  background-color: #CFD8DC;
}
.button.active {
  color: #039be5;
}

.example-card {
  background-color: #775877;
}
