/* .example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
}
  
.example-container > * {
    width: 50%;
} */

mat-card {
    width: 750px;
    margin: 0 auto;
    background-color: #775877;
    border-radius: 25px;
    border: 2px solid rgb(192, 30, 92);

}
mat-card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
button {
    margin-top: 2em;
}
mat-form-field, label {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}
form {
    text-align: center; 

    

   
}